<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">New Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'history' %}">Order History</a>
            </li>
        </ul>
    </div>
</nav>